:root {
    background-color: #282829;
    --button: #174de3;
    --light: #ffff;
}



h1 {
    font-size: 50px;
    margin-bottom: 100px;
    margin-top: 100px;;
    color: var(--light);
}

h2 {
    font-size: 45px;
}

.container {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden-content {
    display: none;
}

.button {
    font-size: 35px;
    padding: 30px;
    width: 400px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg, var(--button) 0%, var(--button) 100%);
    border-radius: 15px;
}

.exitButton {
    font-size: 35px;
    padding: 30px;
    width: 200px;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: linear-gradient(90deg, var(--button) 0%, var(--button) 100%);
    border-radius: 15px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 5px 20px 0 var(--button);
}

.input {
    width: 500px;
    height: 50px;

    font-size: 25px;

    border-radius: 20px;
}

#finish {
    margin-top: 50px;
    margin-bottom: 20px;
}

#currScore {
    color: white;
}

#nameText {
    color: white;
    margin-top: 15px;
}

#scoreCont {
    color: white;
    text-align: center;
    list-style: none;
    margin: none;
    font-size: 20px;
}